<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/home.css" />
    <title>Home</title>
  </head>
  <body>
    <h1>KHOJ, the search page</h1>
    <div class="wrapper">
     

      <form action="/check" method="POST">
        <div class="field">
          <input type="text" id="input" name="input" placeholder="Enter your Values"/>

       
        </div>
        <div class="field">
          <input type="number" id="random" name="random" placeholder="Enter Search number"/>
        </div>
        <div class="field">
          <button type="submit" class="khoj">Khoj</button>
        </div>
      </form>

    
    </div>
    <div class="rslt">
      <% if (typeof result !== 'undefined') { %>
        <h2>Result: <%= result ? 'True' : 'False' %></h2>
        <% } %>
    </div>
  </body>
</html>
