<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/login.css">
  </head>
  <body>

    <% if (signupMessage) { %>
      <div class="success-message">You have successfully signed up! Now log in.</div>
    <% } %>
    <div class="wrapper">
      <div class="title">Login Form</div>
      <form action="/login" method="post">
        <div class="field">
          <input type="email" name="email" placeholder="Enter your email" />
          
        </div>
        <div class="field">
          <input
            type="password"
            name="password"
            placeholder="Enter your password"
          />
          
        </div>
        <div class="field">
          <input type="submit" value="Login" />
        </div>

        <div class="signup-link">
          Not a member? <a href="/signup">Signup now</a>
        </div>
      </form>
     
    </div>
  </body>
</html>
