<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>

    <div class="wrapper">
        <div class="title">
           SignUp Form
        </div>

        <form action="/signup" method="post">
            <div class="field">
               <input type="text" name="name" placeholder="Enter your name"> <br>
        <input type="email" name="email" placeholder="Enter your email"> <br>
        <input type="password" name="password" placeholder="Enter your password"><br>
        <input type="submit" value="signup"> <br>
            </div>

           
          
         </form>
         <div class="login-btn">
            Already have an account? <a href="/login">Login Now</a>
          </div>
    </div>
</body>
</html>